<!-- About Us -->
<!-- <section class="about-us">
    <div class="container about-us-container">
    <h2 class="about-us-title">About Us</h2>
        <ul class="about-us-list">
        <li class="about-us-item">
            <p class="about-us-text">
                Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable and stylish accessory on your wrist.
            </p>
        </li>
        <li class="about-us-item">
            <p class="about-us-text"> At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a statement piece that reflects your personality and style. So why settle for anything less than the best?</p>
         </li>
        </ul>
         <button type="button" class="view-catalog-button">
            View catalog
         </button> 
        </div>
        <div class="overlay-cont">
        <picture>
              <source
                media="(min-width:1280px)"
                srcset="
                ./images/clock-comp.jpg 1x,
                ./images/clock-comp@2x.jpg 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                ./images/clock-tablet.jpg 1x,
                ./images/clock-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width:375px)"
                srcset="
                ./images/clock-phone.jpg 1x,
                ./images/clock-phone@2x.jpg 2x
                "
              />
              <img
              src="./images/Rectangle 11-min.jpg"
              alt="clock"
              width="530"
              height="532"
              />
       
            </picture>
        </div>
    </div>
    </section> -->
