<!-- Footer  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>WatchCharm</title>
</head>

<body>
    <footer id="footer-section">
        <div class="container">
            <div class="styles-tablet">
                <div class="svg-and-logo">
                    <h2 class="footer-title">watchcharm</h2>
                    <div class="footer-svg-cont">
                        <ul class="footer-svg-list">
                            <li class="footer-svg-item">
                                <a href="" class="footer-svg-link">
                                    <svg class="footer-svg" width="20" height="20">
                                        <use href="./image/icon.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-svg-item">
                                <a href="" class="footer-svg-link">
                                    <svg class="footer-svg" width="20" height="20">
                                        <use href="./image/icon.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-svg-item">
                                <a href="" class="footer-svg-link">
                                    <svg class="footer-svg" width="20" height="20">
                                        <use href="./image/icon.svg#icon-youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="footer-text-desktop">Have the time of your life with our watches: where high-class
                    craftsmanship meets impeccable design</p>
                <address class="footer-address-tablet">
                    <button class="tel-button-tablet">
                        <a class="button-link-tablet" href="tel:+380684439426">+380 (68) 443-94-26</a>
                    </button>
                </address>
                <address class="footer-address-desktop">
                    <button class="tel-button-desktop">
                        <a class="button-link-desktop" href="tel:+380684439426">+380 (68) 443-94-26</a>
                    </button>
                </address>
            </div>
            <address class="footer-address">
                <button class="tel-button">
                    <a class="button-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                </button>
            </address>
            <p class="footer-text">Have the time of your life with our watches: where high-class craftsmanship meets
                impeccable design</p>
            <div class="navigation">
                <div class="column">
                    <ul class="menu">
                        <li><a href="#home" class="menu-link">Home</a></li>
                        <li><a href="#about-us" class="menu-link">About Us</a></li>
                    </ul>
                    <ul class="menu">
                        <li><a href="#catalog" class="menu-link">Catalog</a></li>
                        <li><a href="#sale" class="menu-link">Sale</a></li>
                        <li><a href="#reviews" class="menu-link">Reviews</a></li>
                    </ul>
                    <ul class="menu">
                        <li><a href="#contact-us" class="menu-link">Contact Us</a></li>
                    </ul>
                </div>
                <div class="column address">
                    1678 S. Pioneer Road Salt Lake City UT 84104
                </div>
            </div>
            <div class="stripe"></div>
            <div class="last-content">
                <p class="last-text">&copy; 2023 The Watch Spot. All rights reserved.</p>
                <ul class="last-list">
                    <li class="last-item"><a class="last-link" href="">Terms of Service</a></li>
                    <li class="last-item"><a class="last-link" href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="navigation-tablet">
                <div class="column-tablet">
                    <ul class="menu-tablet">
                        <li><a href="#home" class="menu-link-tablet">Home</a></li>
                        <li><a href="#about-us" class="menu-link-tablet">About Us</a></li>
                        <li><a href="#catalog" class="menu-link-tablet">Catalog</a></li>
                        <li><a href="#sale" class="menu-link-tablet">Sale</a></li>
                        <li><a href="#reviews" class="menu-link-tablet">Reviews</a></li>
                        <li><a href="#contact-us" class="menu-link-tablet">Contact Us</a></li>
                </div>
                <div class="column-tablet address-tablet">
                    1678 S. Pioneer Road Salt Lake City UT 84104
                </div>
            </div>
            <div class="none-styles">
                <div class="stripe-tablet"></div>
                <div class="last-content-tablet">
                    <p class="last-text-tablet">&copy; 2023 The Watch Spot. All rights reserved.</p>
                    <ul class="last-list-tablet">
                        <li class="last-item-tablet"><a class="last-link-tablet" href="">Terms of Service</a></li>
                        <li class="last-item-tablet"><a class="last-link-tablet" href="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
    </footer>
</body>

</html>