<!------------------------- Hero--------------------------------------->
<section class="first-section">
  <div class="container">
    <div class="hero-title-container">
      <h1 class="first-title">
        Welcome to our <span class="first-title-color">collection</span> of
        premium watches
      </h1>
      <p class="text-hero">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-image-link-container">
      <ul class="list-image-hero">
        <li>
          <img
            src="../img/img.hero/ellipse21.png"
            alt="foto"
            width="44"
            height="44"
          />
        </li>
        <li>
          <img
            src="../img/img.hero/ellipse22.png"
            alt="foto"
            width="44"
            height="44"
          />
        </li>
        <li>
          <img
            src="../img/img.hero/ellipse23.png"
            alt="foto"
            width="44"
            height="44"
          />
        </li>
      </ul>
      <a class="link-hero" href="#">Scroll down</a>
    </div>
    <picture>
      <source
        srcset="
          ../img/img.hero/rectangle10.desktop.png    1x,
          ../img/img.hero/rectangle10.desktop_2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/img.hero/rectangle10.tablet.png    1x,
          ../img/img.hero/rectangle10.tablet_2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/img.hero/rectangle10.mobile.png    1x,
          ../img/img.hero/rectangle10.mobile_2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/img.hero/rectangle10.desktop.png"
        alt="watch"
        width="1150"
        height="500"
      />
    </picture>
  </div>
</section>
