.about-us{
    width: 1280px;
    height: 532px;
    gap: 40px;
    padding: 0px, 65px, 0px, 65px;
}
@media screen and (min-width:1280px) {
    
}
.view-catalog-button{
    width: 160px;
height: 48px;
top: 404px;
left: 60px;
gap: 0px;
opacity: 0px;
background-color: rgba(51, 80, 233, 1);
font-family: var(--font-family);
font-size: 14px;
font-weight: 500;
line-height: 18px;
text-align: center;
color: rgba(251, 251, 251, 1);
}