body {
    font-family: var(--font-family);
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
section:not(:last-child) {
    margin-bottom: 60px;
}
@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
  section:not(:last-child) {
    margin-bottom: 80px;
}
}
@media (min-width: 1280px) {
  .container {
    width: 1150px;
    padding-right: 65px;
    padding-left: 65px;
  }
  section:not(:last-child) {
    margin-bottom: 100px;
}
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
