.container-reviews {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.reviews-tittle {
    color: #0C0C0C;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.02em;
}
.reviews-list {
    display: flex;
    justify-content: center;
}
.reviews-list-item {
    width: 335px;
    height: 262px;
    padding: 32px 36px;
    border-radius: 30px;
    background: #F3F3F3;
}
.reviews-list-item2 {
    display: none;
}
.reviews-list-item3 {
    display: none;
}
.reviews-img {
    border-radius: 56px;
    border: 2px solid #FBFBFB;
    margin-bottom: 24px;
}
.reviews-img-name {
    color: #0C0C0C;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}
.reviews-img-description {
    color: rgba(12, 12, 12, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.02em;
}