.container-reviews {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.reviews-tittle {
    color: #0C0C0C;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: start;
    margin-bottom: 24px;
}
.reviews-list {
    display: flex;
}
.reviews-list-item {
    width: 100%;
    height: 100%;
    padding: 32px 36px;
    border-radius: 30px;
    background: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
picture {
    display: flex;
    justify-content: center;
}
.reviews-img {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    border: 2px solid #FBFBFB;
    margin-bottom: 24px;
}
.reviews-img-name {
    color: #0C0C0C;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}
.reviews-img-description {
    color: rgba(12, 12, 12, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
.swiper-slide {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:768px) {
    .reviews-tittle {
        font-size: 48px;
        line-height: 0.96;
        margin-bottom: 40px;
    }
    .reviews-list {
        flex-wrap: nowrap;
        justify-content: center;
    }
    .reviews-list-item {
        width: 344px;
        height: 272px;
    }
    .reviews-img-name {
        font-size: 18px;
        line-height: 1.1;
    }
    .reviews-img-description {
        font-size: 16px;
        line-height: 1.25;
    }
}
@media screen and (min-width:1280px) {
    .reviews-tittle {
        line-height: 0.92;
    }
    .reviews-list-item {
        width: 370px;
    }
}
